.home_wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.home_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.search {
    border: solid 2px black;
    padding: 7px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: transparent;

    &::placeholder {
        font-family: inherit;
        color: rgba(0, 0, 0, 0.8);
    }
}