.history_body {
    margin: auto;
    width: 100%;
    display: flex;
}

.history_list {
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    width: 100%;
}

.history_list .history_list-item {
    max-width: 400px;
    width: 100%;
    padding: 7px;
    border: 2px solid gray;
    border-radius: 5px;
}

.history_list .history_list-item a {
    text-decoration: none;
    color: black;
    font-size: 20px;

    &:hover {
        text-decoration: underline;
    }
}